
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.course {
border: solid lightblue;
/* width: 150px; */

margin: 10px;
padding: 10px;
}

h1 {
font-family: 'Sacramento', cursive;
     color: lightcoral;
     font-size: 75px;
}
h2 {
 
     color: #3c4245;
/*#3f4d71*/
}
h3 {
 
     color: white;
     text-shadow: 2px 2px grey;
}

form {
/*     background-color: #fe9677;*/
  background-image: linear-gradient(to left, #1CFFF2, #fff6b7);
/*    */
 border: 1px solid white;

}

body {
 /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, aqua, #61ffbe  ); /* Standard syntax (must be last) */
}
.button1 {
  background-color: lightcoral;
      border-radius: 15px;
   padding: 15px 7px;
  border: 1px ;
    text-align: center;
      color: white;
   
    
   
  
}

 #navigation {
     

       display: block;

  text-align: center;
  padding: 14px 16px;

      display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

      background-color: white;
   
        
    }



#content  {
    position: absolute;
    top: 0px;
    right: 0px;
    
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}





#myInput {
/*  background-image: url('/css/searchicon.lo');  Add a search icon to input */
 
 
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;


 

  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

img{
    width:100%;
    max-width:600px;
}

#catched  {

    max-width: 300px; 
    max-height: 300px;
     max-width: 150px;
         max-height: 150px;
    
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}




