<!DOCTYPE html>
<html lang="">

<head>
     <script src="https://smtpjs.com/v3/smtp.js">
        
</script>
        <script src="https://unpkg.com/vue"></script>    
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>   
     <link rel="stylesheet" type="text/css" href="cc1css.css">
        <link rel="manifest" href="website.webmanifest">
        <link rel="stylesheet" type="text/css" href="navcss.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    
    <style>
    
        .container {
    width: 400px;
}
    
    </style>
       
   

	
</head>

<body>
    
    

 

 <div id="app">

     
       <div id="allTheNav">
    <nav id="navigator" class="navbar" :class="{navbaropen: opened}">
      <span class="open-slide">
        <a href="#" @click="opened = !opened">
          <div>
            <div class="bar" :class="{topopen: opened}"></div>
            <div class="bar" :class="{midopen: opened}"></div>
            <div class="bar" :class="{botopen: opened}"></div>
          </div>
        </a>
      </span>
      
    </nav>
  <div id="side-menu" class="side-nav" :class="{sidenavopen: opened}">
 <a href="patientlogin.html">Login</a>
      <a href="workngQRREG.html">Register</a>
      <a href="loggedbooking.html">Booking</a>
    <a href="waitinglistpatient.html">Queue</a>


      
  </div>
  
   
      
      
      
      
  </div>
     

         <h2><p id="err"> </h2>
     <center>
         <h1>Booking</h1>
<h4><p id="demo"></h4>
       </center>
      <br><br>
        
<center>
    <button v-on:click='deletea'>logout</button>
  <v-app>
    <v-content>
      <v-container>
        <div class="text-center title"><h3>Select a Date & Time</h3></div>
        <v-row justify="center">
            <br>
            <v-date-picker
              v-model="date"
              :allowed-dates="allowedDates"
              class="mt-4"
              min="2019-10-10"
              max="2022-03-20"
            ></v-date-picker>
          <v-slide-y-transition>
            <v-col cols=2 v-show="date !== null">
              <template v-for="allowedTime in allowedTimes">
                <v-btn
                  @click="setTime(allowedTime)"
                  class="my-2"
                  :outlined="allowedTime !== time"
                  block
                  x-large
                  color="primary"
                >{{ allowedTime }}</v-btn>
              </template>
            </v-col>
          </v-slide-y-transition>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
        <br>
        
<!--        input field-->
         
        <h3>State your issue</h3>
                <v-text-field
                   
                    textarea
               
                    counter
                    v-model="description"
                > </v-text-field>
     
        
        
        
        <br>
        
        
        
        <button v-on:click='addCourse()' class="button1">Book</button>
    </center>
</div>
	
    
    
    <script>
        
        
          const API = "https://myappnabz.ngrok.io"; 
    
new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: () => ({
    date: null,
    time: null,
    dbTable: [],
       description: '',
          opened: false,
        name: '',
      topic: '',
    allowedTimes: ['8:30 am','9:00am','10:30am','1:30pm','3:30 pm']
  }),
  
  methods: {
      allowedDates: val => parseInt,setTime(time) {
      this.time = time
          
           console.log(time)
       console.log(this.date)
          
          
    },
      
      
      
      
      
          addCourse: function() { 
              
                              
                          
            fetch(API + '/booked/' + 'datetime', {
                    headers: {"Content-Type": "application/json; charset=utf-8"},
                    method: 'post',
                    body: JSON.stringify({
                        date: this.time,
                        time: this.date,
                        topic: localStorage.email,
                        name:  localStorage.name,
                        description: this.description,
                      
                    })
                }).then((res) => {
                    if (res.status === 400) {
                        alert('Date and Time already exists!')
                    } else {
                        
                        
    
                        
                        /// smtp.js libaray
                        // email client ftpnabz@hotmail.com pass 
    Email.send({
    SecureToken : "6919eb50-0655-4f1b-b3dd-feaa99a6aeff",
        //chnage
//          To : newItem.name,  
    To : 'ftpnabz@hotmail.com',
    From : "ftpnabz@hotmail.com",
    Subject : "APPOINTMENT CONFIRMED",
    Body : "Hi " + localStorage.name + " your Appointment has been confirmed at our medical centre  for " +  this.date + " at " + this.time
    
        
        
        
        
        
        
}).then(
  message => alert(message)
);
 
                        
                        
                        
//                        window.location.reload()
                        
                        
                    }

                }).catch((err) => {
                    console.log(err)
                })

                            
 fetch(API + '/qr/' + 'currentlogged', {
                        method: 'GET',

                        headers: {
                            "Content-Type": "application/json; charset=utf-8"
                        },
                    }).then(res => res.json())
                    .then(jsonData => {
                        jsonData.forEach(element => {
                            let newItem = {
                                id: element._id,
                                topic: element.topic,
                                name: element.name
                                



                            };

                            this.dbTable.push(newItem);
                            

                        });
                    })
                    .catch((err) => {
                        console.log(err)
                    })  
              
              
              
              
            
},
      
       deletea: function() {
                    //fetching all courses from database on page load
   
localStorage.removeItem('name');
  localStorage.removeItem('email');


                    fetch(API + '/delete/' + 'delete', {
                            method: 'GET',

                            headers: {
                                "Content-Type": "application/json; charset=utf-8"
                            },

                        }).then(res => res.json())
                        .then(jsonData => {
                     

                        })
                        .catch((err) => {
                            console.log(err)
                        })


                },
      
      
      
    
    },
//    
    created() {
                //fetching all courses from database on page load
               var localname = localStorage.getItem("name");             
document.getElementById("demo").innerHTML = "You are logged in as" + " " + localname ;


                fetch(API + '/qr/' + 'currentlogged', {
                        method: 'GET',

                        headers: {
                            "Content-Type": "application/json; charset=utf-8"
                        },
                    }).then(res => res.json())
                    .then(jsonData => {
                        jsonData.forEach(element => {
                            let newItem = {
                                id: element._id,
                                topic: element.topic,
                                name: element.name



                            };

                            this.dbTable.push(newItem);
                            
console.log(newItem);
var myJSON = JSON.stringify(newItem);           
//        var txt = newItem;
//var obj = JSON.stringify(txt);
                            
//document.getElementById("myText").value = newItem.topic;

   

                        });
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }, 
    
    
})
    
    
    </script>
</body>

</html>