<!DOCTYPE html>
<html>

<body><script type="text/javascript" ></script>
<script src="https://unpkg.com/vue"></script>    
      <link rel="stylesheet" type="text/css" href="cc1css.css">
<!--    <script> src="/app.js" </script>-->
    
    
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="icons/icon-512.png">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="style.css">
	<link rel="manifest" href="website.webmanifest">
	<script src="data/courses.js" defer></script>
	<script src="app.js" defer></script>
-->
    
    
    
    <h1>Review 2.0</h1>
    
<!--       <link rel="stylesheet" type="text/css" href="cc1css.css">-->


    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">

<div id="searchFilter">
    

        <center><div id="navigation">
<toplinks v-bind:page=page></toplinks>
</div></center>
 <br> <br> <br>


    


<!--<input type="text" id="myInput" placeholder="collection name" v-model='newdbcollection'>-->
<!--
<button v-on:click='createCollection' class=" button button1" >test</button>
    
-->
    
<h3>Update</h3>
    <br>

<input type="text" id="myInput" placeholder="rating" v-model='updatedRating'>
<button v-on:click='updateItem' class=" button button1" >Update Item</button>



    
    <br>  <br>  <br>
        <select v-model="selectedtopic">
  <option v-for="option in dbTable" v-bind:value="option.topic">
    {{ option.topic }}
  </option>
</select>
<span>Selected: {{ selectedtopic }}</span>
    
    
        <select v-model="locationselect">
  <option v-for="option in dbTable" v-bind:value="option.location">
    {{ option.location }}
  </option>
</select>
<span>Selected: {{ locationselect }}</span>
    
    
    
          <div v-for="option in options">
  <input type="radio" v-model="stars" v-bind:value="option.value">
  <label> {{ option.value }} </label>
  </div>
  <span>Rate this: {{ stars }} ★</span>
    
    <br>    <br>    
    <button v-on:click='addCoursenew' class=" button button1" >Add My review</button>
    <br>

<h3>Database table</h3>
<table id="myTable">
    <tr class="header">
      <th >Topic</th>
      <th >Location</th>

      <th >Rating</th>

      <th >Update</th>
    </tr>
    <tr v-for='course in dbTable' class='course'>
      <td >{{course.topic}}</td>
      <td >{{course.location}}</td>

      <td >{{course.rating}}</td>  

      <td><button v-on:click='Update(course.id,course.topic,course.location,course.price,course.rating)' class="button1">Update</button></td>    
    </tr>
</table>
   

    
  
<br><br><br><br><br><br>
    <br><br><br><br><br><br>



  </div>
<script>
    
    
         Vue.component('toplinks', {
props: ['page'],
template: `<div>
<a href='registerlastest.html' v-bind:class="{active: page==='home'}">Register</a>

<a href='courses23JAN.html' v-bind:class="{active: page==='userpage'}">Courses</a>

<a href='review.html' v-bind:class="{active: page==='userpage'}">Review</a>
<a href='catchme.html' v-bind:class="{active: page==='userpage'}">catchme</a>
<a href='r1egtest.html' v-bind:class="{active: page==='userpage'}">user-login</a>


<a href='login.html' v-bind:class="{active: page==='course'}">site</a>

</div>`
})

const API = "http://localhost:3000"; 

var courses = [
    
{ 'topic': 'change', 'location': 'all', 'price': 100, 'rating': 1 },

]
    
    
    ////////


// fetch('/collections/messages', {
//   headers: {  "Content-Type": "application/json; charset=utf-8" },
//   method: 'POST',
//   body: ({ username: 'one', password: 'example',
  
//   })
// })
    
    


//function getUser(name){
// fetch(`http://localhost:3000/collections/messages`)
//  .then(function(response) {
//    return response.json();
//  })
//  .then(function(json) {
//    console.log(json);
//  });
//};
//
////get user data
//getUser('yourUsernameHere');



//courses.pop()


  selectstars =  [
      { value: '1 ' },
      { value: '2' },
      { value: '3' },
      { value: '4' },
      { value: '5' }
    ]  
   localStorage.setItem("courses", JSON.stringify(courses));    

var courses = JSON.parse(localStorage.getItem("courses"));
  
var searchApp = new Vue({
el: '#searchFilter',

data: {
checkto: true,
term: '',
bucket:[],
dbTable:[],
    page:'',
stevetable:[],
providerTable:[],
userLocations: [],
newdbcollection:'', // //not using delete use other
dbcollection:'',
//test start
    Providerreview:'',
    
        stars: '',
    options: selectstars,
   selectedtopic: '',
locationselect: '',
topic:'',
location:'',
price:'',
ratingg:'',
provider:'',  
//test end
updatedTopic:'',
updatedLocation:'',
updatedPrice:'',
updatedRating:'',
itemID:'',
},

methods: {
reset: function () {
this.userLocations = [];
    
},
    
  

    
    
    

createCollection: function(){

  fetch(API+'/createCollection', {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'post',
  body: JSON.stringify({
        collection: this.newdbcollection})
  }).then((res)=>{
      console.log(res)
  }).catch((err)=>{
      console.log(err)
  })
},
//
//addCourse: function() {
//
//  fetch(API+'/collections/'+'courses', {
//  headers: {  "Content-Type": "application/json; charset=utf-8" },
//  method: 'post',
//  body: JSON.stringify({
//        topic: this.topic,
//        location: this.location,
//        price: this.price,
//        rating: this.ratingg,
//    })
//  }).then((res)=>{
//    window.location.reload()
//  }).catch((err)=>{
//      console.log(err)
//  })
//},
    
    
    addCoursenew: function() {

  fetch(API+'/review/'+'rating', {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'post',
  body: JSON.stringify({
             topic: this.selectedtopic,
        location: this.locationselect,
        rating: this.stars,
    })
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
},
    
    
showcourse: function() {

  fetch(API+'/review/'+'rating', {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'post',

      
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
},
    
    


deleteItem: function(id) {
    fetch(API+'/review/'+'rating/'+ id, {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'delete',
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
},

Update: function(id,topic,location,price,rating) {
  this.updatedTopic = topic;
  this.updatedLocation = location;
  this.updatedPrice = price;
  this.updatedRating = rating;
  this.itemID = id;
},

updateItem: function() {
    fetch(API+'/review/'+'rating/'+ this.itemID, {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'put',
  body: JSON.stringify({
        topic: this.updatedTopic,
        location: this.updatedLocation,
        price: this.updatedPrice,
        rating: this.updatedRating,
    })
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
}

},
    
    

    
created() {
//fetching all courses from database on page load
fetch(API+'/review/'+'rating', {
  method:'GET',
  headers: {  "Content-Type": "application/json; charset=utf-8" },
}).then(res => res.json())
  .then(jsonData => {
          jsonData.forEach(element => {
            let newItem = {
            id: element._id,
           topic: element.topic,
           location: element.location,
           price: element.price,
           rating: element.rating
                
        
        };

        this.dbTable.push(newItem);
       
          });
  })
    .catch((err) => {
    console.log(err)
})
},



computed: {
locations: function () {
// update option list
return [...new Set(this.results.map(x => x.location))]
},
results: function () {
return courses.filter(course => {
// search condition
var searchCourse = course.topic.includes(this.term);
// filter condition
var filterCourse = this.userLocations.length == 0 ||
this.userLocations.includes(course.location);
// combine the result
return searchCourse && filterCourse;
})
},
},
    
});

</script>


</body>
</html>