<!DOCTYPE html>
<html>


    <style>

    table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

    </style>
    
    <script type="text/javascript" ></script>
     <link rel="stylesheet" type="text/css" href="navcss.css">
<script src="https://unpkg.com/vue"></script>
      <link rel="stylesheet" type="text/css" href="cc1css.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    
    
    
<!--    <script> src="/app.js" </script>-->


    <div id="searchFilter">
        
  <div id="allTheNav">
    <nav id="navigator" class="navbar" :class="{navbaropen: opened}">
      <span class="open-slide">
        <a href="#" @click="opened = !opened">
          <div>
            <div class="bar" :class="{topopen: opened}"></div>
            <div class="bar" :class="{midopen: opened}"></div>
            <div class="bar" :class="{botopen: opened}"></div>
          </div>
        </a>
      </span>
        
        
      
    </nav>
  <div id="side-menu" class="side-nav" :class="{sidenavopen: opened}">
 <a href="patientlogin.html">Login</a>
      <a href="workngQRREG.html">Register</a>
      <a href="loggedbooking.html">Booking</a>
    <a href="waitinglistpatient.html">Queue</a>


      
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
      
  </div>

  </div>
        
        <center>
 <h1>Queue</h1>   
<br><br>
<p id="result">
 <p id="demo">

     <button v-on:click='deletea'>logout</button>

<!--<h2>Filter</h2>-->
<!-- filter -->
<!--
<select multiple v-model='userLocations'>
    <option v-for='location in getLocations'>
    {{location}}
    </option>
</select>
-->
     

        <br>

<h2>Estimated wait time from point of entry is {{result}} minutes</h2>

        <table id="myTable">
  <tr class="header">
    <th >Po.</th>
    <th >Patient</th>


  </tr>
        </table>

<table id="myTable">
<!--
  <tr class="header">
    <th >Topic</th>
    <th >Location</th>
    <th >Price</th>
    <th >Rating</th>

  </tr>
-->
  <tr v-for='course in courses' class='course' v-if="courses.length">
       <td></td>
    <td v-if="isCurrentLoggedUser(course)">
        {{ course.name }}
    </td>
    <td v-else>
        patient
    </td>
<!--        <td>{{course.name}}</td>-->
    <td></td>

  </tr>
</table>
<br/>






<br><br>
    <br><br>
<h2> Your options</h2>


        <table id="myTable">
  <tr class="header">




  </tr>
        </table>
<table id="myTable">

  <tr v-for='course in results' class='course'>
       <td></td>
    <td>{{course.name}}</td>
    <td></td>
<td><button v-on:click='deleteItem(course.id)' class="button1">Remove</button></td>
  </tr>
</table>
<br/>
<br/>
        

  
        
        
        
        
        
        
        
        
        
        </center>
        
        
        
    </div>





<script>



const API = "https://myappnabz.ngrok.io";



var searchApp = new Vue({
el: '#searchFilter',

data: {
checkto: true,
term: '',
bucket:[],
    opened: false,
        topic: "",
                location: "",
     listOfItems: ["Student", "Provider"],
                hideElement: false,
                seen: false,
                selectedItem: "",
dbTable:[],
    page:'',
stevetable:[],
providerTable:[],
userLocations: [],
newdbcollection:'', // //not using delete use other
dbcollection:'',
//test start
    Providerreview:'',
               bucket: [],
price:'',
ratingg:'',
provider:'',
    result: '',
//test end
updatedTopic:'',
updatedLocation:'',
updatedPrice:'',
updatedRating:'',
itemID:'',
locations: this.location,
topic: this.topic,
    courses3: [] ,
courses: [],
currentLoggedUser: null
},
 
 methods: {
            isCurrentLoggedUser (patient) {
                if (this.currentLoggedUser === null) {
                  return false;
                }

                return patient.name === this.currentLoggedUser.name;
            },
            //not using
            isLocationSelected(location) {
                return this.userLocations.includes(location);
            },
            //using
            filterByLocation(location) {
                this.userLocations.push(location);
            },

            sortAscend() {
                console.log("sortAscend pressed.");
            },
            sortDescend() {
                console.log("sortDescend pressed.");
            },
            showcourse() {
                this.courses = [];
                this.fetchCourses();
            },
       deleteItem: function(id) {
    fetch(API+'/slot/'+'confirmed/'+ id, {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'delete',
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
},

            reset() {
                this.userLocations = [];
                this.term = "";
            },
            high2low() {
                this.courses = this.courses.sort(
                    (prev, curr) => curr.price - prev.price
                );
                this.userLocations = [];
            },
     

     
       deletea: function() {
                    //fetching all courses from database on page load
   
localStorage.removeItem('name');
  localStorage.removeItem('email');


                    fetch(API + '/delete/' + 'delete', {
                            method: 'GET',

                            headers: {
                                "Content-Type": "application/json; charset=utf-8"
                            },

                        }).then(res => res.json())
                        .then(jsonData => {
                     

                        })
                        .catch((err) => {
                            console.log(err)
                        })


                },
            low2high() {
                this.courses = this.courses.sort(
                    (prev, curr) => prev.price - curr.price
                );
                this.userLocations = [];
            },
              fetchfromlogged() {
                fetch(API + "/qr/" + "currentlogged")
                    .then(res => res.json())
                    .then(jsonData => {
                        jsonData.forEach(element => {
                            const catched = {
                                id: element._id,

                                name: element.name
                            };

//                            this.currentLoggedUser = catched;

                            this.courses3.push(catched);
                            // this.dbTable.push(newItem);
                            // document.getElementById('result').innerHTML = newItem;
                                        document.getElementById("demo").innerHTML = "You are logged in as" + " " + catched.name;


    //using value from currently logged user to filter.
this.userLocations = catched.name;



                        });



                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            fetchCourses() {
                fetch(API + "/slot/" + "confirmed")
                    .then(res => res.json())
                    .then(jsonData => {
                        jsonData.forEach(element => {
                            const newItem = {
                                id: element._id,

                                name: element.name
                            };
this.result = jsonData.length*20-20;
                            this.courses.push(newItem);
                            // this.dbTable.push(newItem);
                            // document.getElementById('result').innerHTML = newItem;
//                                        document.getElementById("demo").innerHTML = "You are logged in as" + " " + newItem.name;

//                             this.userLocations = newItem.name;
                        });
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
      deletea: function() {
                    //fetching all courses from database on page load
   
localStorage.removeItem('name');
  localStorage.removeItem('email');


                    fetch(API + '/delete/' + 'delete', {
                            method: 'GET',

                            headers: {
                                "Content-Type": "application/json; charset=utf-8"
                            },

                        }).then(res => res.json())
                        .then(jsonData => {
                     

                        })
                        .catch((err) => {
                            console.log(err)
                        })


                },



        },
        created() {
            //fetching all courses from database on page load
             if (typeof localStorage.name === 'undefined') {
                 
   location.replace("patientlogin.html")
}
         this.currentLoggedUser = localStorage;
            this.fetchCourses();
            this.fetchfromlogged();


        },

        computed: {
            getLocations() {


                // update option list
//                return [...new Set(this.courses.map(x => x.location))];
            },
        
            
            results() {
                return this.courses.filter(course => {
                    // search condition
                    var searchCourse = course.name
                        .toLowerCase()
                        .includes(this.term.toLowerCase());
                    // filter condition
                    var filterCourse =
//                 course.name = database filtered based on userlocation
                       
                        localStorage.name.includes(course.name);
                    // combine the result
                    return filterCourse;
                });
            }
        }

});

</script>


</body>
</html>
