<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<body>
<Script>
fetch('http://localhost:3000').then(
function(response) {
response.text().then(
function(text) {
alert(text);
});
});
    
    </Script>
    
    
    
</body>
</html>


<body><script type="text/javascript" ></script>
<script src="https://unpkg.com/vue"></script>    
    <h1>Review</h1>
    
<!--       <link rel="stylesheet" type="text/css" href="cc1css.css">-->


    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">

<div id="searchFilter">

     

<!-- Search -->



<!--<input type="text" id="myInput" placeholder="collection name" v-model='newdbcollection'>-->
<!--
<button v-on:click='createCollection' class=" button button1" >test</button>
    
-->
    
<h3>Use these fields to Update your Review</h3>
<input type="text" id="myInput" placeholder="topic" v-model='updatedTopic'>
<input type="text" id="myInput" placeholder="location" v-model='updatedLocation'>
<input type="text" id="myInput" placeholder="price" v-model='updatedPrice'>
<input type="text" id="myInput" placeholder="rating" v-model='updatedRating'>
<button v-on:click='updateItem' class=" button button1" >Update Item</button>


<h3>Add review</h3>
<input type="text" id="myInput" placeholder="topic" v-model='topic'>
<input type="text" id="myInput" placeholder="location" v-model='location'>
<input type="text" id="myInput" placeholder="price" v-model='price'>
<input type="text" id="myInput" placeholder="rating" v-model='ratingg'>
<button v-on:click='addCourse' class=" button button1" >add Course</button>
    
    <select v-model="selectedtopic">
  <option v-for="option in dbTable" v-bind:value="option.topic">
    {{ option.topic }}
  </option>
</select>
<span>Selected: {{ selectedtopic }}</span>
    
    
      <div v-for="option in options">
  <input type="radio" v-model="stars" v-bind:value="option.value">
  <label> {{ option.value }} </label>
  </div>
  <span>Rate this: {{ stars }} ★</span>
    
        <select v-model="locationselect">
  <option v-for="option in dbTable" v-bind:value="option.location">
    {{ option.location }}
  </option>
</select>
<span>Selected: {{ locationselect }}</span>
    
    
    

<h3>Your Reviews</h3>
<table id="myTable">
    <tr class="header">
      <th >Topic</th>
      <th >Location</th>
      <th >Rating</th>  
      <th >Update</th>
    </tr>
    <tr v-for='course in review' class='course'>
      <td >{{course.topic}}</td>
      <td >{{course.location}}</td>
      <td >{{course.rating}}</td>  
       
      <td><button v-on:click='Update(course.id,course.topic,course.location,course.price,course.rating)' class="button1">Update</button></td>    
    </tr>
</table>

    <br>     <br>   
 

   
    
<h3>Your Reviews</h3>
<table id="myTable">
    <tr class="header">
      <th >Topic</th>
      <th >Location</th>
      <th >Rating</th>  
      <th >Update</th>
    </tr>
    <tr v-for='course in reviewj' class='course'>
      <td >{{course.topic}}</td>
      <td >{{course.location}}</td>
      <td >{{course.rating}}</td>  
       
      <td><button v-on:click='Update(course.id,course.topic,course.location,course.price,course.rating)' class="button1">Update</button></td>    
    </tr>
</table>

    
  
<br><br><br><br><br><br>
    <br><br><br><br><br><br>

</div>
  
<script>

    
    
const API = "http://localhost:3000"; 

var courses = [
    
{ 'topic': 'change', 'location': 'all', 'price': 100, 'rating': 1 },

]
    
    
    ////////


// fetch('/collections/messages', {
//   headers: {  "Content-Type": "application/json; charset=utf-8" },
//   method: 'POST',
//   body: ({ username: 'one', password: 'example',
  
//   })
// })
    
    


//function getUser(name){
// fetch(`http://localhost:3000/collections/messages`)
//  .then(function(response) {
//    return response.json();
//  })
//  .then(function(json) {
//    console.log(json);
//  });
//};
//
////get user data
//getUser('yourUsernameHere');



//courses.pop()

   localStorage.setItem("courses", JSON.stringify(courses)); 
    
    
          
    selectstars =  [
      { value: '1 ' },
      { value: '2' },
      { value: '3' },
      { value: '4' },
      { value: '5' }
    ]  

var courses = JSON.parse(localStorage.getItem("courses"));
  
var searchApp = new Vue({
el: '#searchFilter',

data: {
checkto: true,
term: '',
bucket:[],
 selectedtopic: '',
locationselect: '',
    
    stars: '',
    options: selectstars,
  
dbTable:[],
stevetable:[],
providerTable:[],
userLocations: [],
newdbcollection:'',
dbcollection:'',
//test start
Providerreview:'',
topic:'',
location:'',
    
    
review:[],
reviewj:[],
    
    
price:'',
ratingg:'',
provider:'',  
//test end
updatedTopic:'',
updatedLocation:'',
updatedPrice:'',
updatedRating:'',
itemID:'',
},

methods: {
reset: function () {
this.userLocations = [];
    
},
    
     
    
    

    
createCollection: function(){

  fetch(API+'/createCollection', {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'post',
  body: JSON.stringify({
        collection: this.newdbcollection})
  }).then((res)=>{
      console.log(res)
  }).catch((err)=>{
      console.log(err)
  })
},

addCourse: function() {

  fetch(API+'/review/'+'rating', {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'post',
  body: JSON.stringify({
             topic: this.selectedtopic,
        location: this.locationselect,
        rating: this.stars,
    })
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
},

deleteItem: function(id) {
    fetch(API+'/collections/'+'courses/'+ id, {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'delete',
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
},

Update: function(id,topic,location,price,rating) {
  this.updatedTopic = topic;
  this.updatedLocation = location;
  this.updatedPrice = price;
  this.updatedRating = rating;
  this.itemID = id;
},
    
    
    
    
    
    
    

updateItem: function() {
    fetch(API+'/collections/'+'courses/'+ this.itemID, {
  headers: {  "Content-Type": "application/json; charset=utf-8" },
  method: 'put',
  body: JSON.stringify({
        topic: this.updatedTopic,
        location: this.updatedLocation,
        price: this.updatedPrice,
        rating: this.updatedRating,
    })
  }).then((res)=>{
    window.location.reload()
  }).catch((err)=>{
      console.log(err)
  })
}

},
 
created: function() {
//fetching all courses from database on page load
fetch(API+'/review/'+'rating', {
  method:'GET',
  headers: {  "Content-Type": "application/json; charset=utf-8" },
}).then(res => res.json())
  .then(jsonData => {
          jsonData.forEach(element => {
            let bits = {
            id: element._id,
           topic: element.topic,
           location: element.location,
           price: element.price,
           rating: element.rating
                
     
        
            
            };
  
        this.review.push(bits);


   
          });
  })
    .catch((err) => {
    console.log(err)
})
},
    
    created: function() {
//fetching all courses from database on page load
        
    fetch(API+'/collections/'+'courses', {
  method:'GET',
  headers: {  "Content-Type": "application/json; charset=utf-8" },
}).then(res => res.json())
  .then(jsonData => {
          jsonData.forEach(element => {
            let bits = {
            id: element._id,
           topic: element.topic,
           location: element.location,
           price: element.price,
           rating: element.rating
                
     
        
            
            };
  
        this.reviewj.push(bits);


   
          });
  })    
        
        
fetch(API+'/review/'+'rating', {
  method:'GET',
  headers: {  "Content-Type": "application/json; charset=utf-8" },
}).then(res => res.json())
  .then(jsonData => {
          jsonData.forEach(element => {
            let bits = {
            id: element._id,
           topic: element.topic,
           location: element.location,
           price: element.price,
           rating: element.rating
                
     
        
            
            };
  
        this.review.push(bits);


   
          });
  })
    .catch((err) => {
    console.log(err)
})
},

  
});

</script>


</body>
</html>
