<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user example</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="userform">
        <span v-if='currentUser'>
            {{currentUser}}
            <button @click='signout'>Sign out</button>
        </span>
        <span v-else>
            email <input v-model='email'>
            password <input type='password' v-model='password'>
            <button v-on:click='signin'>Sign in</button>
            <button v-on:click='signup'>Sign up</button>
            {{userMessage}}
        </span>
    </div>

    <script>
        var userform = new Vue({
            el: "#userform",
            data: {
                currentUser: '',
                email: '',
                password: '',
                userMessage: ''
            },
            methods: {
                signup: function () {
                    this.userMessage = '';

                    // more validation should be included
                    if (!this.email) {
                        this.userMessage = 'error: empty email';
                        return
                    }
                    if (!this.password) {
                        this.userMessage = 'error: empty password';
                        return;
                    }
                    var newUser = {
                        'email': this.email,
                        'password': this.password
                    }

                    // a user array should be used
                    localStorage.setItem('users', JSON.stringify(newUser))
                },
                signin: function () {
                    var savedUser = JSON.parse(localStorage.getItem('users'));
                    if (savedUser.email == this.email && savedUser.password == this.password) {
                        this.currentUser = this.email;
                    }
                    else {
                        this.userMessage = ' error: username or password is not correct.';
                        return;
                    }
                },
                signout: function () {
                    this.currentUser = '';
                    this.email = '';
                    this.password = '';
                    this.userMessage = '';
                }
            }
        })
    </script>

</body>

</html>